/* Screen HD 1920x1080 */
@media (min-height: 1080px){
    .main {
        width: 100%;
    }
    .centent-bottom{
        justify-content: space-evenly;
    }
    .group1158,.group1158-2,.group1158-3,.group1158-4 {
        margin-left: 0;
    }
}
/* laptop */
@media (min-width: 1024px) and (max-width: 1919px){
    .main {
        width: 100%;
        /* height:100%; */
    }
    .centent-bottom {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-right: 0;
        /* margin-left: 0px; */

    }
    .centent-icon {
        justify-content: end;
        margin: 0;
    }
    .logo {
        flex: 1;
    }
    .icon-header {
        margin: 0;
        justify-content: end;
        margin-right: 64px;

    }
    .idvnf{
        margin: 35px 23px 0 28px;
    }
    .icon-group530 {
        margin: 32px 196px 0 28px;
    }
    .group1158-3 {
        margin-top: 10px;
        margin-left: 0;
    }
    .group1158-4 {
        margin-top: 10px;
    }
    
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .main {
        width: 100%;
    }
    .image17{
        width: 100%;
    }
    .centent-bottom {
        display: block;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .logo {
        flex: 1;
    }
    .icon-header {
        margin: 0;
        justify-content: end;
        margin-right: 64px;

    }
    .centent-header{
        flex-wrap: wrap;
    }
    .centent-icon {
        justify-content: end;
        margin: 0;
    }
    .group1158-2{
        margin-top: 10px;
        margin-left: 0;
    }
    .group1158-3 {
        margin-top: 10px;
        margin-left: 0;
    }
    .group1158-4 {
        margin-top: 10px;
        margin-left: 0;

    }
    .group1158-mid, .group1158-bot {
        margin: 25px 58px 25px 17px;
        padding-bottom: 10px;
    }
    .group1158-top {
        padding-top: 10px;
    }
    .group1158 {
        margin: 0px;
      }

}
/* Mobile */
@media (min-width: 321px) and  (max-width: 739px){
    .main {
        width: 100%;
    }
    .image17{
        width: 100%;
    }
    .group530 {
        max-height: 350px;
        border-radius: 12px;
    }
    .group {
        margin-left: 10px;
    }
    .logo {
        flex: 1;
        /* flex-wrap: wrap; */
    }
    .grid-48 {
        margin: 10px 12px 10px 20px;
    }
    .icon-header {
        margin: 0;
        /* justify-content: end; */
        margin-right: 20px;
    }
    .icon-group530 {
        margin: 32px 16px 0 16px;
        padding: 10px;
    }
    .welcome,.group,.alarm-bell {
        display: none;
    }
    .centent-header{
        display: none;
    }
    .content-all {
        display: block;
        margin:0 20px;
    }
    .idvnf {
        margin: 35px 60px 0 16px;
    }
    .centent-bottom {
        display: block;
        margin: 0px;
        margin: 10px;
    }
    .vnfd {
        margin: 0;
        margin-left: 20px;
    }
    .centent-icon {
        justify-content: space-around;
        margin: 10px 10px 0 0;
        padding-top: 10px;
    }
    .icon-part {
        margin-right:0;
    }
    .group1158-2{
        margin: 0;

    }
    .group1158-3 {
        margin: 0;

    }
    .group1158-4 {
        margin: 0;

    }
    .group1158-mid, .group1158-bot{
        margin-bottom: 20px;
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .main-centent {
        height: 100%;
        border-radius: 12px;
    }
    .dot {
        display: -webkit-box;
        height: 16px*1.3*3;
        font-size: 16px;
        /* line-height: 1.3; */
        -webkit-line-clamp: 1;  /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      max-width: 129px;
  }
  .group1158-top {
    padding-top: 10px;
}
.icon-bars-mobile {
    display: block;
}
.group1158 {
    margin: 0px;
  }
}
/* IP 5 */
@media (max-width: 320px){
    .main {
        width: 100%;
    }
    .image17{
        width: 100%;
    }
    .group530 {
        max-height: 350px;
        border-radius: 12px;
    }
    .group {
        margin-left: 10px;
    }
    .logo {
        flex: 1;
        /* flex-wrap: wrap; */
    }
    .grid-48 {
        margin: 10px 12px 10px 20px;
    }
    .icon-header {
        margin: 0;
        /* justify-content: end; */
        margin-right: 20px;
    }
    .icon-group530 {
        margin: 32px 16px 0 16px;
    }
    .welcome,.group,.alarm-bell {
        display: none;
    }
    .centent-header{
        display: none;
    }
    .content-all {
        display: block;
        margin:0 20px;
    }
    .idvnf {
        margin: 35px 60px 0 16px;
    }
    .centent-bottom {
        display: block;
        margin: 0px;
        margin: 10px;
    }
    .vnfd {
        margin: 0;
        margin-left: 20px;
    }
    .centent-icon {
        justify-content: space-around;
        margin: 10px 10px 0 0;
        padding-top: 10px;
    }
    .icon-part {
        margin-right:0;
    }
    .group1158-2{
        margin: 0;

    }
    .group1158-3 {
        margin: 0;

    }
    .group1158-4 {
        margin: 0;

    }
    .group1158-mid, .group1158-bot{
        margin-bottom: 20px;
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .main-centent {
        height: 100%;
        border-radius: 12px;
    }
    .dot {
        display: -webkit-box;
        height: 16px*1.3*3;
        font-size: 16px;
        /* line-height: 1.3; */
        -webkit-line-clamp: 1;  /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      max-width: 129px;
  }
  .group1158-top {
    padding-top: 10px;
}
.icon-bars-mobile {
    display: block;
}
}