
body {
  margin: 0;
  background: url("./img.png") center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.main {
    height: 1244px;
    width:1920px;
  /* background: linear-gradient(292.77deg, #0E1C26 0%, #2A454B 52.6%, #294861 100%); */
}
/* .image17 {
} */
.header-content {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}
.grid-48 {
  margin: 20px 24px 20px 40px;
}
.alarm-bell,.group,.welcome,.icon-search,.icon-list,.icon-part,.group1158,.group1158-2,.group1158-3,.group1158-4,
.grid-48:hover {
    cursor: pointer;
}
.logo {
  
  flex: 1;
}
.icon-header {
  display: flex;
  margin-right: 64px;
  align-items: center;
}
.icon-bars-mobile {
  font-size: 2.4rem;
  color: white;
  display: none;
  cursor: pointer;
}
.icon-bars{
}
.group {
  margin-left: 24px;
}
.welcome {
  margin-left: 8px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.vnfd {

  margin-left: 40px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 108px;
  color: #ffffff;
}
.content-all {
  display: flex;
  margin: 0px 40px 40px 40px;
  height: 1032px;
}
.group530 {
    height: 100%;
    background: rgb(116 184 22 / 50%);
    border-radius: 12px 0px 0px 12px;
    flex-direction: row;
}
.group530-1 {
  display: flex;
}
.icon-group530 {
  display: flex;
  margin: 32px 10px 0 40px;
 
}
.icon-settings-user {
  margin-right: 32px;
}
.icon-monitor {
  margin-right: 32px;
}
.icon-image {
  margin-right: 32px;
}
.icon-desktop {
  margin-right: 32px;
}
.idvnf {
  margin: 35px 23px 0 42px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
}
.viettel {
  margin-top: 35px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
}

.main-centent {
  background: rgb(33 37 41 / 60%);
  border-radius: 0px 12px 12px 10px;
}
.centent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 40px 15px 40px;
}

.flavour {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: rgb(255 255 255 / 40%);
}
.vnfindicator {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #ffffff;
}
.vdu {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.centent-icon {
  display: flex;
  justify-content: end;
  align-items: center;
}
.icon-list {
  margin-left: 20px;
}
.icon-part {
  margin-right: 40px;
  margin-left: 22px;
}
.centent-bottom {
  display: flex;
  margin: 52px 20px 0 20px;
}
.group1158 {
  background: rgb(52 58 64 / 60%);
  border-radius: 6px;
}
.group1158-top {
  display: flex;
  margin-top: 18px;
}
.ribbon {
  display: inline;
  background-color: rgb(52, 170, 255);
}
.ribbon-text {
  font-family: SF Pro Text;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding: 0 49px 0 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.triangle-right {
  border-top: 20px solid transparent;
  border-left: 40px solid rgb(52, 170, 255);
  border-bottom: 20px solid transparent;
}
.group1158-mid,
.group1158-bot {
  display: flex;
  align-items: center;
  margin: 39px 58px 28px 17px;
}
.i1vcpu1,
.i1vcpu2 {
  margin-left: 12px;
}
.cpt-hd,
.cpt-monitor {
  margin-left: 42px;
}
.i1tbhdd,
.i04 {
  margin-left: 12px;
}
.group1158-2 {
  margin-left: 16px;
  background: rgb(52 58 64 / 60%);
  border-radius: 6px;
}
.group1158-3 {
  margin-left: 16px;
  background: rgb(52 58 64 / 60%);
  border-radius: 6px;
}
.group1158-4 {
  margin-left: 16px;
  background: rgb(52 58 64 / 60%);
  border-radius: 6px;
}
